@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0; /* Ensure no margin */
    height: 100%; /* Allow full height */
    background-color: #1d3557; /* Set to your dark background */
}

@layer components {
    .small_button {
        @apply w-16 sm:w-24 ;
    }
    .med_button {
        @apply w-24 sm:w-48;
    }
    .round_button {
        @apply size-8;
    }
}



@layer base {
h1 {
    @apply text-light-mid text-3xl sm:text-5xl md:text-6xl;

}
h2 {
    @apply text-lg text-accent;
}
p {
    @apply text-lg;
}
}